<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body class="bg">
<!-- Navigation -->
<div th:replace="navbar.html :: copy"></div>

<div class="container" style="margin-top:60px">
    <div class="card mx-auto" style="width:1000px">
        <div class="card-body">
            <div class="row">
                <form action="/mealplanner" method="post">
                    <input type="number" name="numberOfDays">
                    <button class="btn btn-outline-dark">Generate random mealplan</button>
                </form>
            </div>
        </div>
    </div>
    <card>
        <div class="card-body" th:if="${randomMealPlan}!=null">
            <div class="card-body">
                <div class="row">
                    <th:block th:each="recipe : ${randomMealPlan.getRecipes()}">
                        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" th:attr="src=${recipe.getImage()}" ></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a th:href="@{'/recipe/' + ${recipe.getId()}}"  th:text = "${recipe.getTitle()}">Recipe Title</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </card>
</div>
</body>
</html>