<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<div th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">MealPlan</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/recipemanager"><i class="far fa-sticky-note"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mealplan"><i class="fas fa-calendar-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                    </li>
                    <li class="nav-item">
                        <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post">
                            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>